.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/fotos-artistas-top-track.appspot.com/o/zion%20y%20lennox.jpg?alt=media&token=d805151c-4d7f-4025-8833-8bd9205619d6");
    background-position: cover;
    padding: 5% 20% 30% 20%;
}